@import "sass-essentials";

.icon {
  // Horizontal & vertical icon size.
  $icon-horizontal-size: 2rem;
  $icon-vertical-size: 2rem;
  line-height: 0;

  // SVG
  svg,
  &__vector {
    width: $icon-horizontal-size;
    height: $icon-vertical-size;
    fill: currentColor;
  }
}
